*.tar.gz*
**/data/
**/apache-hive-*/
**/hadoop*/
*.jar*
*.log

opt
tpcds/queries/generated
tpcds/sf*/
config/presto_single_node_config/node.properties
*/__pycache__/*
*/create_click_log_table.sql
*/drop_click_log_table.sql
